/* Medium Device = 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {

	/* HEADER */

	.hero__categories__all {
		padding: 10px 25px 10px 20px;
	}

	.hero__categories ul {
		padding-left: 20px;
	}


	.position-edit-order-deatils {
		left: 100px;

	}

	.position-status-order-deatils {
		padding-left: 158px;
	}

	/* .header-status-check{
		display: none;
	} */


	/* /HEADER */

}

/* Tablet Device = 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {

	/* HEADER */
	.hero__categories {
		margin-bottom: 30px;
	}

	.header__menu{
		display: flex ;
		justify-content: center;
	}

	.header__top__right {
		display: none;
	}


	/* END HEADER */

	.property__gallery.owl-carousel .owl-nav button {
		left: -15px;
	}

	.property__gallery.owl-carousel .owl-nav button.owl-next {
		right: -45px;
	}

	/* .profile-tab-nav.border{
		padding-bottom: 100px;
	} */

	.position-edit-order-deatils {
		margin-right: 152px;
	}

	.position-status-order-deatils {
		padding-left: 10px;
	}
}

/* Wide Mobile = 480px */

@media only screen and (max-width: 767px) {

	/* HEADER */
	.header-mid-side {
		display: none;
	}

	.hero__categories {
		margin-bottom: 30px;
	}

	.header__menu {
		display: none;
	}

	.header__top__right {
		display: none;
	}

	.header__top__left ul li {
		font-size: 0.8rem;
	}

	/* mobile nav - overlay */
	.mobile__open {
		display: block;
		font-size: 22px;
		color: #1c1c1c;
		height: 35px;
		width: 35px;
		line-height: 33px;
		text-align: center;
		border: 1px solid #1c1c1c;
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: -60px;
	}

	.header .container {
		position: relative;
	}

	.mobile__menu__wrapper {
		width: 300px;
		background: #ffff;
		position: fixed;
		left: -300px;
		top: 0;
		height: 100%;
		overflow-y: auto;
		z-index: 99;
		padding: 30px;
		padding-top: 50px;
		opacity: 0;
		display: block;
		-webkit-transition: all, 0.6s;
		-moz-transition: all, 0.6s;
		-ms-transition: all, 0.6s;
		-o-transition: all, 0.6s;
		transition: all, 0.6s;
	}

	.mobile__menu__wrapper.show__mobile__menu__wrapper {
		opacity: 1;
		left: 0;
	}

	.mobile__menu__logo {
		margin-bottom: 30px;
	}

	.mobile__menu__logo a {
		display: inline-block;
		font-size: 40px;
		font-weight: 700;
	}

	.mobile__menu__contact {
		padding: 10px 0 13px;
	}

	.mobile__menu__contact ul li {
		font-size: 12px;
		color: #1c1c1c;
		position: relative;
		line-height: 30px;
		list-style: none;
	}

	.mobile__menu__contact ul li i {
		color: #252525;
		margin-right: 5px;
	}

	.header__top__right__social li i {
		font-size: 12px;
		color: #1c1c1c
	}

	.mobile__menu__cart ul {
		display: inline-block;
		margin-right: 25px;
	}

	.mobile__menu__cart ul li {
		list-style: none;
		display: inline-block;
		margin-right: 15px;
	}

	.mobile__menu__cart ul li:last-child {
		margin-right: 0;
	}

	.mobile__menu__cart ul li a {
		position: relative;
	}

	.mobile__menu__cart ul li a i {
		font-size: 17px;
		color: var(--primary-color);
	}

	.mobile__menu__cart {
		margin-bottom: 25px;
	}

	.mobile__menu__widget {
		margin-bottom: 20px;
	}

	.header__top__right__auth a {
		font-size: 20px;
	}

	.header__top__right__auth a i {
		font-size: 20px;
		padding-right: 10px;
	}

	.mobile__menu__nav {
		display: none;
	}

	.mobile__menu__wrapper .header__top__right__social {
		display: block;
		margin-right: 0;
		margin-bottom: 20px;
	}


	.mobile__menu__wrapper .slicknav_btn {
		display: none;
	}

	.mobile__menu__wrapper .slicknav_nav .slicknav_item a {
		border-bottom: none !important;
	}

	.mobile__menu__wrapper .slicknav_nav {
		display: block !important;
	}

	.mobile__menu__wrapper .slicknav_menu {
		background: transparent;
		padding: 0;
		margin-bottom: 30px;
	}

	.mobile__menu__wrapper .slicknav_nav ul {
		margin: 0;
	}

	.mobile__menu__wrapper .slicknav_nav ul li {
		margin: 15px 0;

	}

	.mobile__menu__wrapper .slicknav_nav a {
		color: rgb(28, 28, 28);
		font-size: 16px;
		font-weight: 750;
		text-decoration: none;
		text-transform: uppercase;
		margin-left: 0px;
		padding-left: 0px !important;
		border-bottom: 2px solid #999;
	}

	

	.mobile__menu__wrapper .slicknav_nav a:hover {
		-webkit-border-radius: 0;
		border-radius: 0;
		background: transparent;
		color: var(--primary-color);
	}

	.mobile__menu__wrapper .slicknav_nav .slicknav_row,
	.mobile__menu__wrapper .slicknav_nav a {
		padding: 8px 5px;
	}

	.mobile__menu__overlay {
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.5);
		content: "";
		z-index: 98;
		visibility: hidden;
		-webkit-transition: all, 0.6s;
		-moz-transition: all, 0.6s;
		-ms-transition: all, 0.6s;
		-o-transition: all, 0.6s;
		transition: all, 0.6s;
	}

	.mobile__menu__overlay.active {
		visibility: visible;
	}

	/*  */
	.filter__controls {
		display: flex;
		justify-content: center;

		/* responsive bar tittle product */
	}

	.main-product-title::before {
		width: 100%;
		display: flex;
		align-items: center;
		margin-left: 100;
	}

	.main-product-title h4 {
		margin-left: 250px;
	}

	/*  */
	.property__gallery.owl-carousel .owl-nav {
		display: flex;
		justify-content: center;
	}

	.property__gallery.owl-carousel .owl-nav button {
		position: relative;
		left: 13px;
		top: 0;
		-webkit-transform: translateY(0);
		/* -webkit-transform: translateX(-50%); */
		/* height: 50px;
		width: 20px; */
		/* display: flex; */
		/* align-items: center; */
	}

	.property__gallery.owl-carousel .owl-nav button {
		top: -260px;
	}

	.property__gallery.owl-carousel .owl-nav button.owl-next {
		right: -250px;
	}

	.property__gallery.owl-carousel .owl-nav button.owl-prev {
		left: -225px;
	}


	.row.under-line-product {
		border: none !important;
	}

	.card.status-check.order-details {
		width: 90%;
	}

	.nav.nav-tabs.account-details.order-details {
		display: flex;
		justify-content: center;
	}

	.btn.btn-primary.order-details {
		/* width: 250px; */
		margin-right: 5px;
	}

	.position-edit-order-deatils {
		margin-right: 0;
		left: -69px;
	}

	.modal.edit-order-details {
		width: 713px;
	}

	.position-status-order-deatils {
		padding-left: 10px;
	}

	.icon-content.status-check div {
		display: none;
	}

	.icon-content.status-check p {
		display: none !important;
	}

	/* .header-status-check.deatil{
		display: flex !important;
		justify-content: flex-start !important;
	} */

	.code-order-details {
		padding-top: 10px;
		text-align: start !important;
	}

	/* .modal-dialog.position-edit-order-deatils{
		min-width: 80% !important;
		display: flex !important;
		justify-content: center !important;
	} */



}

@media only screen and (max-width: 610px) {

	.modal.edit-order-details {
		/* display: flex;
		align-items: center; */
		/* padding: 0 0 0 300px; */

		/* width: 157%; */
	}

	.modal.edit-order-details {
		width: 585px;
		left: 20px;
	}

	.position-edit-order-deatils {
		margin-right: 0;
		left: 74px;
		/* top: 504px; */

	}

	.position-edit-order-deatils {
		margin-right: 0;
		/* left: px; */
	}
}

@media only screen and (max-width: 536px) {

	.nav.nav-tabs {
		display: flex;
		justify-content: center;
	}

	.nav.nav-tabs li a {
		font-size: 16px;
		padding: 0;
	}

	.position-edit-order-deatils {
		margin-right: 118px;
		left: -3px;
	}

	.modal.edit-order-details {
		width: 562px;

	}


}


/* Small Device = 320px */

@media only screen and (max-width: 479px) {


	/* HEADER */
	.header-mid-side {
		display: none;
	}

	/* HẾT HEADER */

	.Product-suggestion-title::before {
		position: absolute;
		content: "";
		top: 50%;
		left: 0;
		width: 100%;
		height: 2px;
		margin-top: -1px;
		background: #1C1C1C;
	}

	.property__gallery.owl-carousel .owl-nav button {
		top: 0px;
	}

	.property__gallery.owl-carousel .owl-nav button.owl-next {
		right: -5px;
	}

	.property__gallery.owl-carousel .owl-nav button.owl-prev {
		left: -5px;
	}

	.modal.edit-order-details {
		/* display: flex;
		align-items: center; */
		/* padding: 0 0 0 300px; */

		/* width: 200px; */
		/* width: 186%; */

	}

	.position-edit-order-deatils {
		margin-right: 119px;
    left: -10px;
	}

}